<mat-toolbar>
  <mat-icon>account_circle</mat-icon>
  Contatos
</mat-toolbar>

<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>list</mat-icon>
      Todos
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>face</mat-icon>
      Novo
    </ng-template>
    <mat-card class="half-width">
      <mat-card-title>Novo Contato</mat-card-title>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field class="full-width">
          <mat-label>Nome:</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Digite seu nome"
          />
        </mat-form-field>
        <div *ngIf="form.controls.name.errors">Campo nome é obrigatório.</div>
        <mat-form-field class="full-width">
          <mat-label>Email:</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Digite seu email"
          />
        </mat-form-field>
        <div *ngIf="form.controls.email.errors">Campo email é obrigatório.</div>
        <button [disabled]="!form.valid" mat-button color="primary">
          Adicionar
        </button>
      </form>
    </mat-card>
  </mat-tab>
</mat-tab-group>
