<mat-toolbar>Contatos</mat-toolbar>
<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field class="full-width">
    <mat-label>Nome:</mat-label>
    <input formControlName="name" matInput placeholder="Digite seu nome" />
    <div *ngIf="form.controls.name.errors">Campo nome é obrigatório.</div>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Email:</mat-label>
    <input formControlName="email" matInput placeholder="Digite seu email" />
    <div *ngIf="form.controls.email.errors">Campo nome é obrigatório.</div>
  </mat-form-field>
  <button [disabled]="!form.valid" mat-button color="primary">Adicionar</button>
</form>
