<mat-card class="mat_card">
  <mat-card-header>
    <mat-card-title>
      <mat-icon>face</mat-icon>
      Contato
    </mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    class="photo"
    src="data:image/png;base64,{{ contact.photo }}"
  />
  <mat-card-content>
    <p>
      <strong>
        {{ contact.name }}
      </strong>
    </p>
    <p>
      <strong>
        {{ contact.email }}
      </strong>
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="close()">Fechar</button>
  </mat-card-actions>
</mat-card>
